.product-uom {
    font-size: 0.75em;
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
    margin-top: 3px;
    line-height: 1.2;
    background-color: #017e84;
    display: inline-block;
    padding: 1px 6px;
    border-radius: 4px;
}
